<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h2>You are about to edit this user : <%= user.email %></h2>
    <form method="post" action="/users/<%=user.id%>?_method=PATCH">
        <input type="text" placeholder="Enter New Username" name="username"> <br>
        <input type="password" placeholder="Enter Password" name="password"> <br>
        <button>Submit</button>
    </form>
</body>
</html>